<%-include ('../partials/header')%>


<!-- <div class="container d-flex justify-content-center">
    <form class="w-50" action="/posts/<%=id%>/comments" method="POST">
        <h1 class="text-center mb-5">Novo Comentário</h1>
        <div class="form-group">
          <textarea class="form-control" name="comment" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div> -->